.header {
  height: 50px;
  background-color: white;
}
.logo {
    width: 165px;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: var(--text_primary);
}
