.header {
  height: 50px;
  background-color: white;
}
.logo {
  margin-left: 50px;
    width: 165px;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  background-color: white;
}
