header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 20;
	height:80px;
	background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
    display: flex;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;

}
.logo {
  margin-left: 50px;
    width: 165px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  background-color: white;
}
@media(max-width: 767px){
header {
	height: 60px;
}
}
