  
* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

a {
    color: #242e31;
    text-decoration: none;
   }

.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 13px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

hr {
    border: none; /* Убираем границу */
    background-color: grey; /* Цвет линии */
    color: grey; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
   }
