* {
  padding: 0;
  margin: 0;
  background-color: #eee;
}
hr {
    border: none; /* Убираем границу */
    background-color: grey; /* Цвет линии */
    color: grey; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
   }
.layer {
    overflow: scroll; /* Добавляем полосы прокрутки */
  overflow-x: hidden;
overflow-y: scroll;
}
