* {
  padding: 0;
  margin: 0;
}
hr {
    border: none; /* Убираем границу */
    background-color: dark; /* Цвет линии */
    color: dark; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
   }
